{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col pt-4">
                <h1>Groceries</h1>

                {{ form(form) }}

                <div class="form-text">Please, provide list of products (example: AABDA)</div>
            </div>
        </div>
    </div>
{% endblock %}